* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lucida Grande";
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    font-family: sans-serif;
}

/* Header */
.header {
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 3.25em;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-logo {
    color: white;
    background-color: black;
    float: left;
    padding: 12px 10px;
    font-size: 25px;
}

.header-list {
    color: white;
    float: right;
    text-align: right;
    margin-right: -25px;
}

.header-list a {
    line-height: 45px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}

/* Dekripsi */
.top-wrapper {
    background-image: url(Gambar/image-top.jpg);
    background-size: cover;
    text-align: left;
    /* padding: 180px 0 200px 0; */
    color: white;
    padding-bottom: 180px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 180px;

}

.container h1 {
    font-size: 60px;
    margin: 10px 0 5px 0;
}

.btn-wrapper {
    margin: 20px 0;
}

.btn {
    border-radius: 30px;
    border: solid 2px white;
}

.btn:hover {
    color: #5a4eff;
    background-color: white;
}

.btn-wrapper a {
    padding: 10px 15px;
    color: white;
}

/* Destinasi */
.main2 {
    padding-bottom: 30px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 30px;
    background-color: #f4f1d6;
    text-align: center;
    font-family: "Helvetica";
}

.heading-main2 {
    font-size: 32px;
    text-align: left;
}

.criteria {
    display: flex;
    flex-wrap: wrap;

}

.criteria-icon {
    flex: auto;
    width: 33%;
    text-align: left;
}

.criteria-icon img {
    height: 75px;
}

.criteria-icon p {
    font-size: 16px;
    font-weight: normal;
}

.criteria-icon h3 {
    color: gray;
}

/* destinasi */
.destinasi {
    padding-bottom: 30px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 30px;
    background-color: #5a4eff;
    text-align: center;
    font-family: "Helvetica";
}

.destinasi-heading {
    padding-top: 30px;
    padding-left: 35px;
    font-size: 50px;
}

.bali {
    background-color: yellow;
    background-image: url(Gambar/travelzoom.com_-750x375.jpg);
    background-size: cover;
}

.lombok {
    background-image: url(Gambar/gili_trawangan_lombok-ac61d-2777_281.jpg);
    background-size: cover;
}

.flores {
    background-color: green;
    background-image: url(Gambar/WhatsApp-Image-2019-04-25-at-19.00.08-640x428.jpeg);
    background-size: cover;
}

.rajaampat {
    margin-bottom: 50px;
    background-image: url(Gambar/tips-wisata-ke-Raja-Ampat-Papua-768x510.jpg);
    background-size: cover;
}

.destinasi-wrapper ul {
    list-style: none;
}

.destinasi-wrapper ul li a {
    width: 100%;
    color: white;
    display: block;
    padding: 100px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 30px;
    opacity: 0.75;
    transition: all 0.5s;
}

.destinasi-wrapper ul li a:hover {
    opacity: 1
}

/* Team */
.lesson-wrapper {
    padding-bottom: 30px;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #f4f1d6;
    text-align: center;
}

.heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #000000;
}

.heading h2 {
    font-weight: normal;
}

.lesson-team {
    float: left;
    width: 20%;
}

.team-icon {
    position: relative;
}

.team-icon p {
    position: absolute;
    top: 95%;
    width: 100%;
    color: rgb(0, 0, 0);
    opacity: 0;
}

.team-icon:hover p {
    opacity: 1;
}

.team-icon img {
    height: 180px;
    border-radius: 50%;
}

.team-icon img:hover {
    height: 200px;
}

.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #ffffff;
}

/* Footer */
.footer {
    color: rgb(255, 249, 249);
    padding-bottom: 30px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.9);
}

.footer-logo {
    font-size: 32px;
}

.footer-contact {
    display: flex;
    flex-wrap: wrap;
}

.footer-contact div {
    flex: auto;
    width: 50%;
}

.contact-list li {
    padding-bottom: 20px;
}

.input-email input {
    width: 220px;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* =========== */
