* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lucida Grande";
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.lesson-wrapper {
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #5a4eff;
    text-align: center;
}

.heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #ffffff;
}

.heading h2 {
    font-weight: normal;
}

.lesson-team {
    float: left;
    width: 20%;
}

.team-icon {
    position: relative;
}

.team-icon p {
    position: absolute;
    top: 95%;
    width: 100%;
    color: white;
    opacity: 0;
}

.team-icon:hover p {
    opacity: 1;
}

.team-icon img {
    height: 180px;
    border-radius: 50%;
}

.team-icon img:hover {
    height: 200px;
}

.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #ffffff;
}
.top-wrapper {
    background-image: url(gambar/image-top.jpg);
    background-size: cover;
    text-align: left;
    padding: 180px 0 200px 0;
    color: white;

}
.container {
    width:1170px;
    margin: auto;
    font-family: sans-serif;
}
.container h1 {
    font-size:60px;
    margin:10px 0 5px 0;
}
.btn-wrapper {
    margin: 20px 0;
}
.btn {
    border-radius: 30px;
    border:solid 2px white;
}
.btn:hover {
    color: #5a4eff;
    background-color: white;
}
.btn-wrapper a {
    padding: 10px 15px;
    color: white;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;

}

.footer-logo {
  font-size: 32px;
  float: left;
}

.footer-contact {
  float: right;
}

.footer-contact li {
  padding-bottom: 20px;
}

.footer-subscribe {
  float: left;
}

.header{
  background-color: black;
  opacity: 0.6;
  width:100%;
  height:3.25em;
}
.header-logo{
  color: white;
  background-color: black;
  float:left;
  padding: 12px 10px;
  font-size: 25px;
}
.header-list a{
  color: white;
  float: right;
  text-align: right;
}
.btn {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  color: white;
  display: block;
  opacity: 0.8;
}
.btn:hover{
  opacity: 0.3;
}
